*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

body{
    background: #273345;
    height: 100vh;
    overflow: hidden;
}
header{
    height: 100px;
    position: relative
}
header div.form{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%; 
    height: 100%;
}
div.form form{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
div.form div.wrapper{
    display: inline-block;
}
div.form div.wrapper input{
    display: block;
    -webkit-appearance: none;
    line-height: 30px;
    width: 100%;
}
div.form div.wrapper:nth-of-type(1){
    width: 60%;
    margin-right: 20px;
}
div.form div.wrapper:nth-of-type(1) input{
    padding-left: 10px;
}
div.form div.wrapper:nth-of-type(2) input{
    padding: 1px 20px;
}


main{
    margin-top: 30px;
}

/* resultat api */
div.resultat-api ul{
    width: 95vw;
    margin: 0 auto;
}
div.resultat-api ul li{
    text-align: center;
}

/* mes series collections */
div.mes-series{
    position: absolute;
    bottom: 30px;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
}


/* carousel */
.slick-slide img{
    display: block;
    margin: 0 auto;
    width: 185px;
    cursor: pointer;
}



/* div.affiche-details */

div.affiche-details.close{
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: -100%;
    transition: 0.5s;
    top: 0;
    z-index: 3;
}
div.affiche-details{
    position: absolute;
    background: #8b98a4;
    transition: 0.5s;
    left: 0;
    width: 70vw;
    height: 100vh;
    top: 0;
    z-index: 3;
}
div.affiche-details div{
    padding-top: 30px;
    color: #fff;
    font-family: sans-serif;
}
div.affiche-details div.close{
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #273345;
    cursor: pointer;
}
div.close svg{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.affiche-details div img{
    display: block;
    width: 300px;

}
div.affiche-details div>span{
    display: table;
    margin: 0 auto;
}
div.affiche-details div:nth-of-type(1) p:nth-of-type(1){
    display: table;
    margin: 0 auto;
}
div.affiche-details div:nth-of-type(1) p:nth-of-type(2){
    margin: 20px auto;
    font-size: 28px;
    text-align: center;
}
div.affiche-details div:nth-of-type(1) p:nth-of-type(3){
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    line-height: 2;
}
div.affiche-details div.wrapper{
    width: 20%;
    margin: 20px auto 0;
}
div.affiche-details div:nth-of-type(1) div.wrapper p{
    font-size: 18px;
    text-align: center;
    display: table;
    margin: 10px auto;
}
div.affiche-details div:nth-of-type(1) div.wrapper p span:nth-of-type(1){
    margin: 0 20px;
}
div.affiche-details button{
    display: table;
    margin: 0 auto;
    border: none;
    background: #273345;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}



/* div.affiche-details span.plus,
div.affiche-details span.minus{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}
div.affiche-details span.plus svg,
div.affiche-details span.minus svg{
    display: block;
    width: 100%;
    height: 100%;
} */