*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

ul{
    list-style-type: none;
}

body{
    background: #1e2835;
    height: 100vh;
    overflow: hidden;
}
header{
    height: 100px;
    position: relative
}
header div.form{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%; 
    height: 100%;
}
div.form form{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
div.form div.wrapper{
    display: inline-block;
    width: 80%;
    margin-right: 20px;
    position: relative;
}
div.form div.wrapper input{
    display: block;
    -webkit-appearance: none;
    line-height: 40px;
    width: 100%;
    padding-left: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
}
div.form div.wrapper input:focus{
    box-shadow: 0 0 1px 1px #fff;
}
div.form div.wrapper svg{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


main{
    margin-top: 30px;
}

/* resultat api */
div.resultat-api ul{
    width: 95vw;
    margin: 0 auto;
}
div.resultat-api ul li{
    text-align: center;
}

/* mes series collections */
div.mes-series{
    position: absolute;
    bottom: 30px;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
}
/* detail d'une série depuis la collection */

div.collection-details{
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: -100%;
    left: 0;
    background: #273345;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
    box-shadow: 0 0 5px 2px #000000;
}
div.collection-details.open{
    top: 0;
}
div.collection-details div.wrapper-left,
div.collection-details div.wrapper-right{
    width: 50%;
    height: 100%;
    padding: 10px 30px;
}
div.collection-details div.wrapper-left{
    position: relative;
}
div.collection-details div.wrapper-left svg{
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: 0.5s;
    top: -24px;
    right: -24px;
    cursor: pointer;
}
div.collection-details div.wrapper-left:hover svg{
    opacity: 1;
    transition: 0.5s;
}
div.collection-details div.wrapper-left div{
    width: 300px;
    height: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.collection-details div.wrapper-left div img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div.collection-details div.wrapper-right{
    float: right;
}
div.collection-details div.wrapper-left{
    float: left;
}
div.collection-details div.wrapper>p{
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
}
div.collection-details div.wrapper div.synopsys{
    text-align: center;
    width: 80%;
    margin: 60px auto 80px;
    line-height: 1.5;
    max-height: 40%;
    overflow-y: scroll;
}
div.collection-details div.wrapper div.synopsys p:nth-of-type(1){
    margin-bottom: 20px;
    font-size: 19px;
    text-decoration: underline;
}
div.collection-details div.wrapper div.episodes{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

div.collection-details span.plus,
div.collection-details span.minus{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    cursor: pointer;
}
div.collection-details span.plus{
    margin: 0 20px;
}
div.collection-details span.plus svg,
div.collection-details span.minus svg{
    display: block;
    width: 100%;
    height: 100%;
}
div.collection-details span.nombre-vu{
    margin: 0 10px;;
}
div.collection-details div.progress-bar{
    width: 60%;
    height: 25px;
    margin: 30px auto;
    border-radius: 5px;
    background: #fff;
}
div.collection-details div.progress-bar div{
    width: 0%;
    height: 100%;
    background: #4d9eeb;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0 0 2px 0px #000;
}
div.collection-details div.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #1e2835;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* carousel */
.slick-slide img{
    display: block;
    margin: 0 auto;
    width: 185px;
    cursor: pointer;
}
/* .slick-slide img:hover{
    
} */

/* div.affiche-details */

div.affiche-details.close{
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: -100%;
    transition: 0.5s;
    top: 0;
    z-index: 3;
}
div.affiche-details{
    box-shadow: 0 0 5px 2px #000000;
    position: absolute;
    background: #273345;
    transition: 0.5s;
    left: 0;
    width: 70vw;
    height: 100vh;
    top: 0;
    z-index: 3;
}
div.affiche-details div{
    padding-top: 30px;
    color: #fff;
    font-family: sans-serif;
    height: inherit;
}
div.affiche-details div.close{
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #1e2835;
    cursor: pointer;
}
div.close svg{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.affiche-details div img{
    display: block;
    width: 250px;

}
div.affiche-details div>span{
    display: table;
    margin: 0 auto;
}
div.affiche-details div:nth-of-type(1) p:nth-of-type(1){
    display: table;
    margin: 0 auto;
}
div.affiche-details div:nth-of-type(1) p:nth-of-type(2){
    margin: 20px auto;
    font-size: 28px;
    text-align: center;
}
div.affiche-details div:nth-of-type(1) p:nth-of-type(3){
    font-size: 18px;
    width: 80%;
    margin: 15px auto 0;
    line-height: 2;
    max-height: 25%;
    overflow-y: scroll;
    box-shadow: 0 0 5px 3px #1e2835;
    padding: 10px;
    border-radius: 6px;
}
div.affiche-details div.wrapper{
    width: 20%;
    margin: 20px auto 0;
}
div.affiche-details div:nth-of-type(1) div.wrapper p{
    font-size: 18px;
    text-align: center;
    display: table;
    margin: 10px auto;
}
div.affiche-details div:nth-of-type(1) div.wrapper p span:nth-of-type(1){
    margin: 0 20px;
}
div.affiche-details button{
    display: table;
    margin: 25px auto 0;
    border: none;
    background: #1e2835;
    color: #fff;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 7px;
}